* {
  border: 0;
  padding: 0;
  margin: 0;

  background: transparent;
  vertical-align: baseline;
  box-sizing: border-box;

  font-family: "HelveticaNeue", HelveticaNeue, Helvetica, sans-serif;
}

:root {
  font-size: 16px;

  /* variables */
  --max-supported-width: 1080px;
  --min-supported-width: 320px;

  --horiz-padding: 1rem;
  --vert-padding: 0.75rem;

  --title-size: 2.1rem;
  --caption-size: 1rem;
  --footnote-size: 0.75rem;

  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --gray-color: rgb(128, 128, 128);

  --background-color: #d7effd;
  --emphasis-background-color: #166b9a;

  --type-text-color: #545c61;
  --tick-color: rgb(149, 204, 237);
  --set-color: #1c98de;
  --set-text-color: var(--white-color);
}
