* {
  border: 0;
  padding: 0;
  margin: 0;

  background: transparent;
  vertical-align: baseline;
  box-sizing: border-box;

  font-family: "HelveticaNeue", HelveticaNeue, Helvetica, sans-serif;
}

:root {
  /* variables */
  --max-supported-width: 1080px;
  --min-supported-width: 320px;

  --horiz-padding: 1em;
  --vert-padding: 0.75em;

  --title-size: 2em;
  --paragraph-size: 1em;
  --footnote-size: 0.75em;

  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --gray-color: rgb(128, 128, 128);
  --tick-color: rgb(210, 242, 255);
  --type-text-color: rgb(226, 111, 17);
  --set-color: rgb(26, 227, 227);
  --set-text-color: rgb(7, 48, 90);
}
